<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "press.maratnikandrov.app"
        versionCode = "10"
        version     = "1.10.0">

    <name>Marat Nikandrov</name>

    <description>
        Marat Nikandrov
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/95ae25cac5002bdda0c5e49a6aaf3161.png" density="ldpi" />
        <icon src="res/android/icon/7736b30dc126bc0eb8abb66f389b3015.png" density="mdpi" />
        <icon src="res/android/icon/fb44928de278e5939a801953fc4c0535.png" density="hdpi" />
        <icon src="res/android/icon/6dabab1649879d0a7832f584eb6e8e28.png" density="xhdpi" />
        <icon src="res/android/icon/9431acf1fd9972cd5f17cd9cd994319c.png" density="xxhdpi" />
        <icon src="res/android/icon/77b04b6ec0e492a44331a76f93a8233b.png" density="xxxhdpi" />

        <splash src="res/android/screen/3865ce799b1b761e23865ef86be6c433.png" density="port-hdpi"/>
        <splash src="res/android/screen/d3e5635c89d4e812cc92363a9c0401d6.png" density="port-ldpi"/>
        <splash src="res/android/screen/c6089076319d7d8b48f08d2cc0eb311e.png" density="port-mdpi"/>
        <splash src="res/android/screen/34e5af4bb5ad54ae1b11d710d7c6debd.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/f0460031535fc194cb9c7ed1d8b06e5f.png" width="180" height="180" />
        <icon src="res/ios/icon/9d28f7385052523de8bf2e7dc391ffaf.png" width="60" height="60" />
        <icon src="res/ios/icon/49ae2cd6dc11fa64beff9ce3b6270a1a.png" width="120" height="120" />
        <icon src="res/ios/icon/12d4b1d4ce34b921ee252e92e70ffe77.png" width="76" height="76" />
        <icon src="res/ios/icon/e7f4a04c6e0e7fc3c75f1f4c690fbd11.png" width="152" height="152" />
        <icon src="res/ios/icon/28310a32ec18cd27327dfa1f1619ee46.png" width="57" height="57" />
        <icon src="res/ios/icon/fecedfde7e9fbe1c46e14dfbab057fce.png" width="114" height="114" />
        <icon src="res/ios/icon/2e9af17efdab165236f3a7a867f5e986.png" width="72" height="72" />
        <icon src="res/ios/icon/6edc5d7bf90d6e4fb11c53f474bf67fb.png" width="144" height="144" />
        <icon src="res/ios/icon/593f09812d9eeebc990ea8daaedff048.png" width="167" height="167" />
        <icon src="res/ios/icon/630a63a632000124fe08a2c2de946d71.png" width="29" height="29" />
        <icon src="res/ios/icon/aee544a201849e8555e4ae6581710aa9.png" width="58" height="58" />
        <icon src="res/ios/icon/5947f4a6841b93dca658416df10549f1.png" width="87" height="87" />
        <icon src="res/ios/icon/9bb4cbc027db0d6498572f197deb03c4.png" width="167" height="167" />

        <splash src="res/ios/screen/b0966b89de2fa366385dfd875b51898d.png" />
        <splash src="res/ios/screen/a6c3e013cf8bc9f74f449c8617d3c0bc.png" />
        <splash src="res/ios/screen/801096b98b82520878ffa0d98c5008ce.png" />
        <splash src="res/ios/screen/ec4cc8e4c07da6561352430c4b5ab3ae.png" />
        <splash src="res/ios/screen/ddb889241976c31fddeb0dee3f6f7808.png" />
        <splash src="res/ios/screen/c1fe2720eee45aeab31ab1cda96c20f7.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/3d82167ad23d2e78601e60b5fd93b708.png" target="StoreLogo" />
        <icon src="res/windows/icon/65438b6b10979b0d21444228df45d1d2.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/08d7332ebd2dbac39e6e090489e3c24f.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/dac2aac0372c6bbdcc282f761b9cc106.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/14fba732f9cc3d41c8967540dd6b1d52.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/cd15c8e3bba49c75ce136591b409ca5b.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/332a98f6996c7c0924531fabe9d73fb8.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/bf57aefa8db75b55f6ddb489db5c76d2.png" target="SplashScreen"/>
        <splash src="res/windows/screen/34cb4bcb0cb3aa69bdf79138a89ede5c.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>